.wrapper {
    background-color: white;
    height: 1000px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    padding: 24px 56px;
}

.content {
    display: flex;
    margin-top: 30px;
}

.video-content {
    display: flex;
    flex-direction: column;
    border: 2px dashed rgb(176, 176, 180);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 458px;
    width: 260px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
    &:hover {
        border: 2px dashed var(--primary);
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.info-content {
    height: 100%;
    flex: 1;
}

.caption-title {
    display: flex;
}

.caption {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.caption-content {
    outline: none;
    border: none;
    flex: 1;

    width: 710px;
    padding: 10px 10px;
    resize: none;
    overflow: hidden;
}

.notice-maxlength {
    background-color: rgba(84, 84, 84, 0.92);
    display: inline-block;
    padding: 10px 8px;
    pointer-events: all;
    max-width: 100%;
    border-radius: 2px;
    width: 100%;
    text-align: center;
}

.cover {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cover-content {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    padding: 10px 10px;
    height: 170px;
}

.role {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 310px;
}

.role-option {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    padding: 10px 10px;
}

.allow {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 310px;
}

.copyright {
    margin-top: 20px;
    display: flex;
}

.action {
    margin-top: 20px;
    display: flex;
}

.discard {
    padding: 10px 40px;
    border: 1px red !important;
    background: transparent;
}

.wrapper-progress {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.change-video {
    font-weight: 650;
    font-size: 1.2rem;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
